
@{
    /**/

    ViewBag.Title = "Cancelled";
    Layout = "~/Views/Shared/_ShipperLayout.cshtml";
}
<div style="clear:both"></div>
<div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">
    <h4 style="color:white">Đơn hàng @ViewBag.OrderNo</h4>
    <div class="tm-product-table-container">
        <table class="table table-hover tm-table-small tm-product-table">
            <thead>
                <tr>
                    <th scope="col">Sản phẩm</th>
                    <th scope="col">Hình sản phẩm</th>
                    <th scope="col">Số lượng</th>
                    <th scope="col">Đơn giá</th>
                    <th scope="col">Trạng thái</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.Product)
                {
                    <tr>
                        <td class="tm-product-name">@item.Name</td>
                        <td><img src="@item.Image" style="width: 100px;height: 100px"></td>
                        @for (int i = 0; i < ViewBag.Quantity.Count; i++)
                        {
                            if (item.ID == ViewBag.Quantity[i].ProductID)
                            {
                                if (ViewBag.Quantity[i].Quantity > item.Quantity) // nếu số lượng đặt lớn hơn số có trong kho
                                {
                                    ViewBag.AbleToSale = false;
                                }
                                <td>@ViewBag.Quantity[i].Quantity</td>
                            }
                        }
                        <td>@item.Price</td>
                        @if (ViewBag.Status.Status == 1)
                        {
                            <td>
                                <div class="tm-status-circle cancelled">
                                </div>
                                Chưa được duyệt
                            </td>
                        }
                        else if (ViewBag.Status.Status == 0)
                        {
                            <td>
                                <div class="tm-status-circle cancelled">
                                </div>
                                Đã hủy
                            </td>
                        }
                        else if (ViewBag.Status.Status == 2)
                        {
                            <td>
                                <div class="tm-status-circle pending">
                                </div>
                                Đã được duyệt
                            </td>
                        }
                        else if (ViewBag.Status.Status == 3)
                        {
                            if (ViewBag.Status.PaymentMethod == "Thanh toán khi nhận hàng")
                            {
                                <td>
                                    <div class="tm-status-circle pending">
                                    </div>
                                    Đã xác nhận mua
                                </td>
                            }
                            else
                            {
                                <td>
                                    <div class="tm-status-circle pending">
                                    </div>
                                    Đã thanh toán
                                </td>
                            }
                        }
                        else if (ViewBag.Status.Status == 4)
                        {
                            <td>
                                <div class="tm-status-circle moving">
                                </div>
                                Đã đóng gói
                            </td>
                        }
                        else if (ViewBag.Status.Status == 5)
                        {
                            <td>
                                <div class="tm-status-circle moving">
                                </div>
                                Đang vận chuyển
                            </td>
                        }
                        else if (ViewBag.Status.Status == 6)
                        {
                            if (ViewBag.Status.PaymentMethod == "Thanh toán khi nhận hàng")
                            {
                                <td>
                                    <div class="tm-status-circle moving">
                                    </div>
                                    Đã nhận hàng và thanh toán
                                </td>
                            }
                            else
                            {
                                <td>
                                    <div class="tm-status-circle moving">
                                    </div>
                                    Đã nhận hàng
                                </td>
                            }
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@if (ViewBag.Status.PaymentMethod == "Thanh toán khi nhận hàng")
{
    <a href="/Shipper/ReturnPackage/@ViewBag.Status.ID" class="btn btn-primary btn-block text-uppercase">
        Trả hàng về kho
    </a>
}
else
{
    <a href="/Shipper/Payback/@ViewBag.Status.ID" class="btn btn-primary btn-block text-uppercase">
        Hoàn tiền và trả hàng về kho
    </a>
}



