
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">
    <h2 class="tm-block-title">Danh sách đơn hàng</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">MÃ</th>
                <th scope="col">TRẠNG THÁI</th>
                <th scope="col">TÁC VỤ</th>
                <th scope="col">KHÁCH HÀNG</th>
                <th scope="col">ĐỊA CHỈ KH</th>
                <th scope="col">EMAIL KH</th>
                <th scope="col">SĐT</th>
                <th scope="col">HÌNH THỨC</th>
                <th scope="col">TỔNG GIÁ</th>
                <th scope="col">NGÀY TẠO</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.OrderList)
            {
            <tr>
                <th scope="row"><b>@item.ID</b><br/><a target="_blank" style="color:red" href="/Admin/OrderDetail/@item.ID">Chi_tiết</a></th>
                @if (item.Status == 1)
                {
                    <td>
                        <div class="tm-status-circle cancelled">
                        </div>
                        Chưa được duyệt
                    </td>
                    <td>
                        <a target="_blank" style="color:red" href="/Admin/WareHouse/@item.ID">Xem kho</a>
                        @*mở trang mới để xem kho, trong xem kho sẽ có duyệt đơn hàng hoặc thông báo không đủ hàng*@
                    </td>
                }
                else if (item.Status == 0)
                {
                    <td>
                        <div class="tm-status-circle cancelled">
                        </div>
                        Đã hủy
                    </td>
                    <td>
                        <a href="#" hidden></a>
                    </td>
                }
                else if (item.Status == 2)
                {
                    <td>
                        <div class="tm-status-circle pending">
                        </div>
                        Đã được duyệt
                    </td>
                    <td>
                        <a href="#" hidden></a>
                    </td>
                }
                else if (item.Status == 3)
                {
                    if (item.PaymentMethod == "Thanh toán khi nhận hàng")
                    {
                        <td>
                            <div class="tm-status-circle pending">
                            </div>
                            Đã xác nhận mua
                        </td>
                    }
                    else
                    {
                        <td>
                            <div class="tm-status-circle pending">
                            </div>
                            Đã thanh toán
                        </td>
                    }
                    <td>
                        <a style="color:red" href="/Admin/Checkout/@item.ID">Giao cho shipper</a>
                    </td>
                }
                else if (item.Status == 4)
                {
                    <td>
                        <div class="tm-status-circle moving">
                        </div>
                        Đã đóng gói
                    </td>
                    <td></td>
                }
                else if (item.Status == 5)
                {
                    <td>
                        <div class="tm-status-circle moving">
                        </div>
                        Đang vận chuyển
                    </td>
                    <td>
                        <a href="#" hidden>Gửi hàng đi</a>
                    </td>
                }
                else if (item.Status == 6)
                {
                    if (item.PaymentMethod == "Thanh toán khi nhận hàng")
                    {
                        <td>
                            <div class="tm-status-circle moving">
                            </div>
                            Đã nhận hàng và thanh toán
                        </td>
                    }
                    else
                    {
                        <td>
                            <div class="tm-status-circle moving">
                            </div>
                            Đã nhận hàng
                        </td>
                    }
                    <td>
                        <a href="#" hidden></a>
                    </td>
                }
                <td><b>@item.CustomerName</b></td>
                <td><b>@item.CustomerAddress</b></td>
                <td><b>@item.CustomerEmail</b></td>
                <td><b>@item.CustomerMobile</b></td>
                <td><b>@item.PaymentMethod</b></td>
                <td><b>@item.TotalPrice</b></td>
                <td><b>@item.CreatedDate.ToString()</b></td>
            </tr>
            }
        </tbody>
    </table>
</div>