@using WEB.Assets.User;
@{
    ViewBag.Title = "MakeOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Checkout Section Begin -->
@foreach (var item in ViewBag.Info)
{
    <div class="checkout__form">
        @if (Session["Message"] != null)
        {
            <h4 style="color:red">@Session["Message"].ToString()</h4>
            Session["Message"] = null;
        }
        <h4>Thông tin đơn hàng</h4>
        <form action="/ShoppingCart/MakeOrder" method="post">
            <div class="row">
                <div class="col-lg-8 col-md-6">
                    <div class="checkout__input">
                        <p>Họ và tên <span>*</span></p>
                        <input name="fullname" type="text" placeholder="Địa chỉ nhận hàng" value="@item.FullName" required>
                    </div>
                    <div class="checkout__input">
                        <p>Địa chỉ <span>*</span></p>
                        <input name="address" type="text" placeholder="Địa chỉ nhận hàng" value="@item.Address" required>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="checkout__input">
                                <p>Số điện thoại <span>*</span></p>
                                <input name="phone" type="text" placeholder="Số điện thoại*" value="@item.PhoneNumber" required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="checkout__input">
                                <p>Email <span>*</span></p>
                                <input name="email" type="text" placeholder="Email*" value="@item.Email" required>
                            </div>
                        </div>
                    </div>
                    <div class="checkout__input">
                        <p>Tin nhắn</p>
                        <input name="message" type="text"
                               placeholder="Notes about your order, e.g. special notes for delivery.">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="checkout__order">
                        <h4>Đơn hàng</h4>
                        <div class="checkout__order__products">Sản phẩm <span>Tổng giá</span></div>
                        <ul>
                            @foreach (var itemm in ViewBag.Cart)
                            {
                                for (int i = 0; i < TempCart.count; i++)
                                {
                                    if (itemm.ID == TempCart.ID[i])
                                    {
                                        <li>@itemm.Name <span>@(itemm.Price * TempCart.ammount[i]) VND</span></li>
                                    }
                                }

                            }
                            <li hidden>Vegetable’s <span>$75.99</span></li>
                            <li hidden>Fresh Vegetable <span>$151.99</span></li>
                            <li hidden>Organic Bananas <span>$53.99</span></li>
                        </ul>
                        <div class="checkout__order__subtotal">Tổng tiền sản phẩm<span>@ViewBag.TotalPrice VND</span></div>
                        <div class="checkout__order__total">Thêm phí ship<span>@ViewBag.TotalPrice VND</span></div>
                        <div class="checkout__input__checkbox">
                            <input type="text" name="price" value="@ViewBag.TotalPrice" hidden />
                            <input type="radio" name="payment" value="Thanh toán khi nhận hàng" checked> Thanh toán khi nhận hàng
                            <br />
                            <input type="radio" name="payment" value="Thanh toán online"> Thanh toán online
                        </div>
                        <div class="checkout__input">
                            <p>Nhập lại mật khẩu :<span>*</span></p>
                            <input name="re_password" type="password" placeholder=" " required>
                        </div>
                        <button type="submit" class="site-btn">Đặt hàng</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
}
<!-- Checkout Section End -->
